<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
    <context:component-scan base-package="services"></context:component-scan>
<!--     <mvc:resources location="/fly/res/css/" mapping="/fly/res/css/**"/> -->
<!--     <mvc:resources location="/fly/res/images/" mapping="/fly/res/images/**"/> -->
<!--     <mvc:resources location="/fly/res/layui/" mapping="/fly/res/layui/**"/> -->
<!--     <mvc:resources location="/fly/res/mods/" mapping="/fly/mods/layui/**"/> -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/fly/html/" p:suffix=".jsp" />
</beans>